# Android Studio
*.iml

# Gradle files
.gradle

# Gradle Wrapper
.externalNativeBuild

# Build output
build/
captures/
outputs/
intermediates/

# C++ files
.cxx

# Local propierties
/local.properties
local.properties

# Jetbrains
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS files
.DS_Store

# Claude module
.agents
.claude
CLAUDE.md
